@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400,500,600,700;1,400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #171717;
    --foregroundColour: #fff;
    --font: "Cabin", "Helvetica Neue", Arial, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    color: var(--foregroundColour);
    font-family: var(--font);
}

.text-gradient {
    background: linear-gradient(to right bottom,#fff 30%,hsla(0, 1%, 36%, 0.38));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.button-shadow {
    box-shadow: inset 0 0.733px 0.733px 0 hsla(0,0%,100%,.2), inset 0 0.733px 16.07px 0 hsla(0,0%,100%,.14)
}

@keyframes page_flicker__NFT9L {
    0% {
        opacity: 0
    }

    50%,to {
        opacity: 1
    }
}

@keyframes page_pulse__lfHfg {
    0% {
        opacity: 0
    }

    20% {
        opacity: .3
    }

    30% {
        opacity: 0
    }

    60% {
        opacity: .3
    }

    70% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes page_colorFade__7QR4p {
    0% {
        color: var(--primary)
    }

    to {
        color: var(--foregroundColour)
    }
}

@media (prefers-reduced-motion: no-preference) {
    .flicker-animation {
        animation: page_flicker__NFT9L .24s steps(1) .3s 4 both, page_colorFade__7QR4p .6s .5s both;
    }
}

.page-showcases::after {
    content: "";
    position: absolute;
    background: var(--color-bg-primary);
    width: 100%;
    left: -50%;
    aspect-ratio: 1 / 0.7;
    border-radius: 50%;
    border-top: 1px solid rgba(120, 118, 197, 0.4);
}